// Client section
.client {
    background-image: url('../img/gallery-9.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;

    &__title {
        padding: 1rem 0;
    }

    &__content {
        line-height: $lineHeightSpace;
    }

    &__logo {
        max-width: 100%;
    }
}

.client-grid {

    &__item {
        padding: 6rem 0 2rem 0;
    }
}