// Client section
.client {
    background-image: url('/dist/img/gallery-9.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;

    &__title {
        padding: 1rem 0;
    }
}

.client-grid {

    &__item {
        margin-top: 3rem;
    }
}