@import './config';

// Header section
.header {
    background-image: url('/dist/img/baner-bg.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .l-container {
        position: relative;
    }
}

.header__model {
    position: absolute;
    max-height: 85%;
    max-width: 50%;
    right: 0;
    bottom: -2rem;
    display: none;
}

.header-content {
    padding: 5rem 0;
    font-size: $mobileFontSize;
    padding-bottom: 5rem;
    text-align: center;


    &__title {
        margin-bottom: .5rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__img {
        margin-bottom: 1rem;
    }

    &__main {
        line-height: 1.6;
        margin-bottom: 3rem;
    }
}

// Menu
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-logo {
        display: flex;
        align-items: center;
    }

    &-logo__img {
        font-weight: 900;
        // height: 100%;
        width: 100%;
    }
}

.menu {
    list-style-type: none;
    display: none;

    &__item {
        padding: 0 .4rem;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
    }

    &-link {
        color: $defaultTextColor;
        text-decoration: none;
    }
}

.bars {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 2rem;
}