@import './config';

// Header section
.header-section {
    background-image: url('/dist/img/baner-bg.jpg');
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-model {
    position: absolute;
    max-width: 50vw;
    max-height: 100%;
    min-height: 90%;
    right: 0;
    bottom: -2rem;
    display: none;
}
.header-content {
    margin-top: 1.5rem;
    font-size: $mobileFontSize;
    padding-bottom: 5rem;
    text-align: center;


    &__title {
        margin-bottom: .5rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__img {
        margin-bottom: 1rem;
    }

    &__main {
        line-height: 1.6;
        margin-bottom: 3rem;
    }
}

// Menu
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2.5rem 0;

    &__logo {
        font-weight: 900;
    }
}

.menu {
    list-style-type: none;
    // display: flex;
    display: none;

    &__item {
        padding: 0 5px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
    }

    &-link {
        color: $defaultTextColor;
        text-decoration: none;
    }
}

.bars {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 2rem;
}
