// Profile section
.profile {
    text-align: center;
    padding: 4rem 0;

    &__title {
        color: #000;
        font-weight: 900;
        font-size: 1.5rem;
        margin: 1rem 0 2rem 0;
    }

    &__img {
        width: 100%;
        display: block;
    }
}