// Profile section
.profile {
    text-align: center;
    padding-top: 4rem;

    &__title {
        color: #000;
        font-weight: 900;
        font-size: 1.5rem;
        padding: 2rem 0 4rem 0;
    }

    &__img {
        width: 100%;
        display: block;
    }
}